.fatherbox {
    background-size:100%;
    background-repeat:no-repeat;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen_one_img{
    display: none;
}
.screen_one_bg {
    display: none;
}


.top {
    background-color: #ffffff;
    display: flex;
    margin: 0;
    flex-direction: column;
    align-items: center;
}

.head {
    width: 100%;
    height: 64px;
    display: flex;
    background-color: #ffffff;
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
    z-index: 1;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.head_width {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.sub_width {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

.yewei_width {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.head_img {
    width: 154px;
    height: 30px;
    margin-left: 16px;
}

.head_login {
    width: 60px;
    height: 30px;
    margin-right: 16px;
}

.background_gary {
    width: 100%;
    height: 48px;
    background-color: #F9F9FA;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.gary_p {
    font-size: 14px;
    color: #20133A;
    margin-left: 16px;
    font-weight: 600;
    letter-spacing:-1.2px;
}

.screen_one {
    width: 100%;
    display: flex;
}

.screen_one_left {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
}
.screen_one_right {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screen_one_logo {
    width: 224px;
    height: 48px;
    margin-left: 16px;
    margin-top: 34px;
    margin-bottom: 24px;
}

.screen_one_title {
    font-size: 30px;
    color: #20133A;
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    font-weight: 700;
    text-align: justify;
}

.des {
    font-size: 16px;
    color: #42414D;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    font-weight: 330;
    text-align: justify;
}

.download {
    width: 150px;
    height: 46px;
    background-color: #0360DF;
    color: #ffffff;
    margin-left: 16px;
    margin-top: 40px;
    font-size: 16px;
    border-style: none;
    border-radius: 4px;
}

.screen_one_link {
    font-size: 13px;
    color: #595862;
    font-weight: 330;
    margin-left: 16px;
    margin-top: 20px;
    text-decoration: none;
}

.screen_two {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 70px;
}

.title {
    font-size: 30px;
    color: #20133A;
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    font-size: 22px;
    color: #20133A;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    font-weight: 700;
    text-align: justify;
    letter-spacing:-1.2px;
}

.screen_two_right {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.screen_two_background {
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 20px;
}

.screen_two_sheet {
    margin-left: 16px;
    margin-right: 16px;
    background-color: #fff;
    
    margin-top: -200px;
    box-shadow: 0px 2px 2px 2px rgb(114 114 114 / 20%);
    border-radius: 4px;
}

.sheet {
    margin: 12px;
}

.sheet_1 {
    border-style: solid;
    border-color: #fff;
    background-color: #F4F4F5;
    padding: 0px;
    font-size: 12px;
    color: #42414D;
    border-spacing: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 300;
    border-width: 1px;
}
.sheet_2 {
    border-style: solid;
    border-color: #ffffff;
    background-color: #fff;
    padding: 0px;
    font-size: 12px;
    color: #42414D;
    border-spacing: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-weight: 300;
    border-width: 1px;
}

.have {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 8px;
    margin-bottom: 8px;
}

.screen_three {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
  }

.screen_three_img {
    width: 326px;
    height: 267px;
    margin-top: 30px;
}

.screen_four {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
  }

.screen_four_img {
    height: 46px;
    margin-left: 16px;
    margin-top: 10px;
  }

.screen_four_left {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
  }

.screen_four_bg {
    width: 315px;
    height: 325px;
    margin-top: 60px;
  }

.store {
    display: flex;
}

.store_mobile {
    display: flex;
    flex-direction: column;
}

.store_pc {
    display: flex;
    flex-direction: column;
}


.screen_five {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    align-items: center;
  }

.screen_five_bg {
    width: 325px;
    height: 306px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

.screen_five_left {
    text-align: center;
}

.screen_five_right {
    text-align: center;
}

.yewei {
    margin-top: 30px;
    background-color: #F9F9FA;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.yewei_so {
    margin-left: 16px;
    margin-top: 16px;
    margin-bottom: 20px;
}

.yewei_icon {
    margin-right: 16px;
}

.yewei_link {
    display: flex;
}

.link_wenzi {
    margin-right: 16px;
    font-size: 14px;
    margin-left: 16px;
    color: #000;
}

.submenu {
    display: none;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
}

.menutitle {
    font-size: 14px;
    color: #000;
    margin-left: 20px;
    margin-top: 10px;
    font-weight: 300;
    line-height:20px;
    height: 20px;
}

.sub_left {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.sub_button {
    margin-right: 16px;
}

#buttonopen {
    display: block;
}

#buttonclose {
    display: none;
}

.videolist {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
}

.videobox {
    background-color: rgb(255, 255, 255);
    width: 92%;
    height: auto;
    margin-bottom: 15px;
}

.videocover {
    background-color: #000;
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.videodown {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    height: 70px;
}

.touxiang {
    width: 40px;
    margin-left: 4px;
    margin-right: 10px;
}

.videotitle {
    font-size: 14px;
    color: #000;
    margin-top: 14px;
    margin-bottom: 14px;
}

.coverimg {
    width: 100%;
    height: auto;
    aspect-ratio: 16/10;
    border-radius: 6px;
}

.hang {
    display: flex;
    justify-content: space-between;
    margin-left: 16px;
    margin-right: 16px;
}

.testsheet {
    width: 100%;
    margin-top: 40px;

}

.sheettitle {
    width: 22%;
    text-align: center;
    background-color: #f4f4f5;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}
.sheettitle_1 {
    width: 34%;
    text-align: center;
    background-color: #f4f4f5;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
}

.sheetdetail {
    width: 22%;
    text-align: center;
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 1px;
    border-color: rgb(236, 236, 236);
}
.sheetdetail_1 {
    width: 34%;
    text-align: left;
    background-color: #ffffff;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: solid;
    border-left-style: none;
    border-width: 1px;
    border-color: rgb(236, 236, 236);
    padding-left: 5px;
}

.nodetitle {
    font-size: 36px;
    color: #20133A;
    margin-top: 30px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    font-weight: 700;
    text-align: center;
}

.pricelist{
    display: flex;
    width: 100%;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}

.pricebox {
    background-color: rgb(255, 255, 255);
    width: 88%;
    height: 425px;
    margin-bottom: 40px;
    border-radius: 15px;
    box-shadow: 0px 2px 10px 1px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.priceup {
    width: 100%;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pricedown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    width : 100%;
    margin-top: 20px;

}

.pricetitle {
    font-size: 28px;
    color: #20133A;
    margin-top: 20px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    font-weight: 700;
    text-align: justify;
    letter-spacing:-1.2px;
}

.pricesubtitle {
    font-size: 14px;
    color: #42414D;
    margin-top: 0px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    font-weight: 330;
    text-align: justify;
}

.pricedes{
    font-size: 16px;
    color: #42414D;
    margin-top: 2px;
    margin-left: 16px;
    margin-right: 16px;
    margin-bottom: 2px;
    font-weight: 330;
    text-align: justify;
}

.pricebutton {
    width: 60%;
    height: 36px;
    margin-top: 10px;
    border-style: none;
    color: #fff;
    background-color: #365996;
    border-radius: 4px;
}

.toastlink{
    font-size: 14px;
    color:#42414D;
    text-decoration:none;
    margin-right: 5px;
}

.toast {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 26px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.recommend {
    border-style: solid;
    border-width: 4px;
    border-color: #4176fa;
    box-sizing: border-box;
}

.recolag{
    width: 80%;
    background-image: url('../img/sellprice.svg');
    background-repeat: no-repeat;
    margin-top: -8px;
    background-size: 100%;
}
.textlag {
    margin-top: 12px;
    margin-bottom: 14px;
    color: #fff;
    text-align: center;
    font-size: 18px;
}

.huaxianprice {
    color: #ccd2d5;
    text-decoration:line-through;
    margin-top: 20px;
    margin-bottom: 2px;
}
.sellprice {
    color: #0360DF;
    font-size: 50px;
    font-weight: 500;
    margin-top: 2px;
    margin-bottom: 2px;
    line-height: 30px;
    height: 30px;
}
.meiyue {
    color: #42414D;
    font-size: 12px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 2px;
}

.aboutusimg {
    margin-top: -280px;
    margin-left: 25px;
    margin-right: 25px;
    border-radius: 10px;
    box-shadow: 0px 2px 2px 1px rgb(0 0 0 / 20%);
}

.login_logo {
    width: 90px;
    margin-top: -45px;
}

.loginbox {
    width: 90%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 8px 4px rgba(153, 153, 153, 0.2);
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 100;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logintitle {
    font-size: 22px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 4px;
}

.loginsubtile {
    font-size: 14px;
    font-weight: 400;
    margin-top: 4px;
    margin-bottom: 16px;
}

.inputbox {
    width: 90%;
    height: 58px;
    padding-left: 16px;
    box-sizing: border-box;
    border-radius: 6px;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: #9e9e9e;
    border-image:none;
    border-style: solid;
    color: #5F5F73;
    font-size: 16px;
    outline-color: #0360DF;    
}

input::-webkit-input-placeholder{
    color:#9CA3AF;
    font-size: 16px;
}
input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color:#9CA3AF;
    font-size: 16px;
}
input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color:#9CA3AF;
    font-size: 16px;
}
input:-ms-input-placeholder{  /* Internet Explorer 10-11 */
    color:#9CA3AF;
    font-size: 16px;
}

.loginbutton {
    width: 90%;
    height: 56px;
    background-color: #0561DF;
    border-style: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

.loginlinkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
    font-size: 15px;
    color: #0060df;
}

.inputbox-reg {
    width: 60%;
    height: 58px;
    padding-left: 16px;
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 0px;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: #9e9e9e;
    border-image:none;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: none;
    color: #5F5F73;
    font-size: 16px;
    outline-color: #0360DF;  
    margin-right: 0px;  
}
.inputbox-reg-no {
    width: 100%;
    height: 58px;
    padding-left: 16px;
    box-sizing: border-box;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: #9e9e9e;
    border-image:none;
    border-top-style: solid;
    border-left-style: solid;
    border-bottom-style: solid;
    border-right-style: solid;
    color: #5F5F73;
    font-size: 16px;
    outline-color: #0360DF;  
    margin-right: 0px;  
}

.inputbox-reg-list {
    width: 40%;
    height: 58px;
    box-sizing: border-box;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: #9e9e9e;
    border-image:none;
    border-top-style: solid;
    border-left-style: none;
    border-bottom-style: solid;
    border-right-style: solid;
    color: #5F5F73;
    font-size: 16px;
    outline-color: #0360DF;  
    margin-left: 0px;  
    text-align: center;
}

.loginregbox {
    display: flex;
    width: 90%;
}

.inputbox-reg-mes {
    width: 40%;
    height: 58px;
    box-sizing: border-box;
    border-top-left-radius: 0px;
    border-top-right-radius: 6px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 6px;
    border-width: 1px;
    margin-bottom: 10px;
    border-color: #9e9e9e;
    border-image:none;
    border-top-style: solid;
    border-left-style: none;
    border-bottom-style: solid;
    border-right-style: solid;
    color: #0360DF;
    font-size: 16px;
    outline-color: #0360DF;  
    margin-left: 0px;  
    text-align: center;
    background-color: #fff;
}

.tanbox-right {
    background-color: #DFF0D8;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 200;
    color:#3C763D;
    padding: 16px;
    box-shadow: 2px 2px 8px 4px rgba(153, 153, 153, 0.2);
    border-radius: 4px;
    text-align: center;
    border-style: solid;
    border-color: #D6E9C6;
    border-width: 1px;
}

.tanbox-cuowu {
    background-color: #F6E8E8;
    position: fixed;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 200;
    color:#C4807E;
    padding: 16px;
    box-shadow: 2px 2px 8px 4px rgba(153, 153, 153, 0.2);
    border-radius: 4px;
    text-align: center;
    border-style: solid;
    border-color: #F1DCE0;
    border-width: 1px;
}

.tanbox-jiazai {
    background-color: #ffffff;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 60px;
    height: 60px;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    z-index: 200;
    color:#fff;
    padding: 10px;
    box-shadow: 2px 2px 8px 4px rgba(153, 153, 153, 0.2);
    border-radius: 10px;
    text-align: center;
}
.tanbox-recaptcha {
    background-color: #00000035;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    color:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.payimg {
    width: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.paywancheng {
    font-size: 22px;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 20px;
}
.paywords_group {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-direction: row;
}
.paywords {
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.paygohomepage{
    width: 90%;
    height: 56px;
    background-color: #0561DF;
    border-style: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.paygoapp1111 {
    width: 90%;
    height: 56px;
    color: #0561DF !important;
    background-color: #ffffff !important;
    border-style: solid;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    border-color: #0561DF;
    margin-bottom: 10px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}